**************************************************************************************

#Github webhook to automatically trigger build pipeline!

#Goto Github Repository setting, 
Select webhook, 

Click Add Webhook

Enter Jenkins Master URL. eg.:
http://<public-IP>:8080/github-webhook/

http://13.232.139.21:8080/github-webhook/

Choose the push event and save the webhook configuration

**********************************************************************************